
{% extends "base.html" %}

{% block content %}
<form method="get" class="mb-4 d-flex gap-2">
    <select name="genre" class="form-select w-auto">
        <option value="">All genres</option>
        {% for genre in genres %}
            <option value="{{ genre.id }}" {% if selected_genre == genre.id|stringformat:"s" %}selected{% endif %}>
                {{ genre.name }}
            </option>
        {% endfor %}
    </select>

    <select name="year" class="form-select w-auto">
        <option value="">All years</option>
        {% for y in years %}
            <option value="{{ y.year }}" {% if selected_year == y.year|stringformat:"s" %}selected{% endif %}>
                {{ y.year }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

  <h2>Каталог фильмов</h2>
  <div class="row">
    {% for movie in movies %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description|truncatewords:20 }}</p>
            <a href="{% url 'movie_detail' movie.id %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
